#logo {
    width: 10%;
    height: auto;
    border-radius: 10%;
}
#js-logo {
        width: 5%;
        height: auto;
        border-radius: 10%;
}

body {
    background-color: ghostwhite;
}

#html {
    color: brown;
}

#css {
    color: blue;
}

.content {
    color: yellowgreen;
}